.colorTurquesa {
  background-color: #30a7d7;
}

.columna1 {
  background-color: #4dad5b;
  color: white;
}

.columna2 {
  background-color: #855ac9;
  color: white;
}

.columna3 {
  background-color: #e3350d;
  color: white;
}

.colorVerde {
  color: white;
  background-color: #4dad5b;
  padding: 10px;
}

.miClase {
  color: pink;
  font-size: 24px;
  background-color: black;
}